html {
    height: 100%;
}

body {
    display: -webkit-box;	/* OLD: Safari, iOS, Android, older WebKit browsers */
    display: -moz-box;		/* OLD: Firefox (buggy) */
    display: -webkit-flex;	/* NEW, Chrome 21-28, Safari 6.1+ */
    display: flex;			/* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

    /* These props center the elements inside along the "cross-axis" (vertical by default). */
    -webkit-box-align: center;
    -moz-box-align: center;	/* OLD... */
    -webkit-align-items: center;
    align-items: center;

    /* There props center the elements inside along the main axis (horizontal by default). */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    margin: 0;
    height: 100%;
    width: 100%; /* needed for Firefox */

    /* To aligh the elements along the vertical axis. */
    /* This is a shorthand for flex-direction and flex-wrap, two values are needed. */
    /* flex-flow: column nowrap; */
}

section {
    border: 1px solid black;

    /* flex property sets how a flex item grows or shrinks to fit the space available in its flex container. */
    /* It is a shortcut for flex-grow, flex-shrink, and flex-basis. */
    -moz-box-flex: 1;	/* old spec moz */
    -webkit-box-flex: 1;/* old spec webkit */
    flex: 1;
    height: 250px;

    /* Default ordinal (2) for old spec "flex-order" */
    -moz-box-ordinal-group: 2;
    -webkit-box-ordinal-group: 2;
}

section[aria-pressed="true"] {
    /* Set order lower than 0 so it moves before other section elements,
	   except old spec, where it must be positive.
   */
    -moz-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    order: -1;

    -moz-box-flex: 3;
    -webkit-box-flex: 3;
    flex: 3;
    max-width: 370px; /* Stops it from getting too wide. */
}
